/*code for background image*/
body{
    background-image:url(https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-irregular-geometric-background-template-image_144655.jpg)
}

/*style input with type="text", select elements and textareas*/
input[type=text], select, textarea{
    width: 100%;  /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid gray; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px;  /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact page {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}

/*style the table with specific borders, width, etc.*/
table, th, td{
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse; /*makes the border collapase into a single border*/
}

th{
    height: 70px;
}

td{
    height: 40px;
}

/*style and Creating of the Navigation Bar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.8;
}/*Changing the default settings to horizontal nav bar settings*/

li{
    float: right;
}/*This positions the nav bar to the right of the page*/

li a{
    display: block;
    color: black; /*Change the color of the text within the nav bar*/
    text-align: center;
    padding: 14px 16px;/*spaces the buttons away from one another*/
    text-decoration: none;
}

li a:hover{
    background-color:teal; /*change the color of the link when you hover over it*/
}

